<%- include('./partials/header') %>

<div class="container">
    <br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="images/arceus.avif" class="card-img-top" alt="arceus">
            <div class="card-body">
              <h5 class="card-title"><a href="/games/62bcc65414e6a332ad129ebe">Pokémon™ Legends: Arceus</a></h5>
              <p class="card-text">Get ready for a new kind of grand, Pokémon adventure in Pokémon™ Legends: Arceus, a new game from Game Freak that blends action and exploration with the RPG roots of the Pokémon series.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/minecraft.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="/games/62bcc65414e6a332ad129ebf">Minecraft
              </a></h5>
              <p class="card-text">Minecraft is a game about placing blocks and going on adventures. Explore randomly generated worlds and build amazing things from the simplest of homes to the grandest of castles. Play in creative mode with unlimited resources or mine deep into the world in survival mode, crafting weapons and armor to fend off the dangerous mobs.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/MarioKart8Deluxe.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="/games/62bcc65414e6a332ad129ec0">Mario Kart™ 8 Deluxe</a></h5>
              <p class="card-text">Hit the road with the definitive version of Mario Kart 8 and play anytime, anywhere! Race your friends or battle them in a revised battle mode on new and returning battle courses. Play locally in up to 4-player multiplayer in 1080p while playing in TV Mode. Every track from the Wii U version, including DLC, makes a glorious return. Plus, the Inklings appear as all-new guest characters, along with returning favorites, such as King Boo, Dry Bones, and Bowser Jr.!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/zelda.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="/games/62bcc65414e6a332ad129ec1">The Legend of Zelda™: Breath of the Wild
              </a></h5>
              <p class="card-text">Forget everything you know about The Legend of Zelda games. Step into a world of discovery, exploration, and adventure in The Legend of Zelda: Breath of the Wild, a boundary-breaking new game in the acclaimed series. Travel across vast fields, through forests, and to mountain peaks as you discover what has become of the kingdom of Hyrule in this stunning Open-Air Adventure. Now on Nintendo Switch, your journey is freer and more open than ever. Take your system anywhere, and adventure as Link any way you like.</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="images/animalcrossing.avif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="/games/62bcc65414e6a332ad129ec2">Animal Crossing™: New Horizons
                </a></h5>
                <p class="card-text">Escape to a deserted island and create your own paradise as you explore, create, and customize in the Animal Crossing: New Horizons game. Your island getaway has a wealth of natural resources that can be used to craft everything from tools to creature comforts. You can hunt down insects at the crack of dawn, decorate your paradise throughout the day, or enjoy sunset on the beach while fishing in the ocean. The time of day and season match real life, so each day on your island is a chance to check in and find new surprises all year round.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="images/odyssey.avif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="/games/62bcc65414e6a332ad129ec3">Super Mario Odyssey™
                </a></h5>
                <p class="card-text">Explore incredible places far from the Mushroom Kingdom as you join Mario and his new ally Cappy on a massive, globe-trotting 3D adventure. Use amazing new abilities—like the power to capture and control objects, animals, and enemies—to collect Power Moons so you can power up the Odyssey airship and save Princess Peach from Bowser’s wedding plans!</p>
              </div>
            </div>
          </div>
      </div>
    
    </div>
<%- include('./partials/footer') %>

