body {
  padding: 10px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  
}

a {
  color: #00B7FF;
}
/* .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 30px;
} */

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}
.container {
  padding: 10px;
}
.col-sm {
  padding: 10px;
}


.rate-popover {
  color: #c4c4c4;
}

.oneStar {
  color: #3d381c;
}

.twoStars {
  color: #6d6126;
}

.threeStars {

  color: #c2aa36;
}

.fourStars {
  color: #e2c327;
}

.fiveStars {
  color: #f3cb06;
}