
.container {
  /* background-color: rgba(173, 216, 230, 0.335); */
  padding: 10px;
  border-radius:2%;
}

.container-fluid {
  background-color: rgba(173, 216, 230, 0.335);
  padding: 0px;
}

body {
  padding: 20px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: lightcyan
}

a {
  color: #00B7FF;
}
/* .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 30px;
} */

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

.col-sm {
  padding: 10px;
}

.toast.show {
  margin:auto;
  width:100%;
}
#review-botton {
  text-align: end;
}
div.card {
  padding-left: 5%;
}
.card.h-100 {
  padding:0;
  /* border-radius: 5.8%; */
}
img.card-img-top {
  border-radius: inherit;



}